<%- include("partials/header"); -%>
    <h1>About</h1>
    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda rem deserunt odio ad aliquam sunt rerum ratione nisi minus quasi, fugit odit iure eum. Libero pariatur officiis dolorem expedita laboriosam! </p>
<%- include("partials/footer"); -%>
