<%- include("partials/header"); -%>
    <h1>Contact</h1>
    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, nesciunt nobis. Saepe unde sed a consequuntur eaque asperiores, amet vel molestias consectetur at inventore molestiae magnam omnis? Labore, voluptatum enim? </p>
<%- include("partials/footer"); -%>
